/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: url('/static/images/home1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    
}

header {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #4CAF50;
}

.navbar-logo {
    width: 40px;
    margin-right: 15px;
}

/* Home Section */
#home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 15px;
    min-height: 60.9vh;
}

.container {
    display: flex;
    gap: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px 30px 80px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    max-width: 1200px;
    width: 100%;
}

.left-column {
    flex: 1;
    text-align: left;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #4CAF50;
}

.input-container {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    justify-content: center;
}

.custom-file-input {
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    background: #ffffff;
    color: #4CAF50;
    font-size: 18px;
    cursor: pointer;
    
}

.btn {
    padding: 10px 40px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.btn:hover {
    background: #45a049;
}

.result p {
    font-size: 18px;
    margin: 10px 0;
    color: #ffffff;
}

#image-preview img {
    width: 100%;
    height: auto;
    margin-top: 50px;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
    object-fit: cover;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 14px;
}

/* Result and Probability Styles */
.result-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.result-box, .probability-box {
    background: rgba(0, 0, 0, 0.7);
    padding: 13px 0px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    width: 45%;
    border-radius: 25px;
    text-align: center;
}

.result-box {
    background: linear-gradient(45deg, #4CAF50, #81C784);
    color: #ffffff;
}

.probability-box {
    background: linear-gradient(45deg, #4CAF50, #81C784);
    color: #ffffff;
}

.result-box:hover {
    background: #45a049;
}

.probability-box:hover {
    background: #45a049;
}

.result-box p, .probability-box p {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

